
.mustLoginDetails {
    text-align: center;
    margin-top: 5em;
}

.mustLoginText {
    margin-bottom: 1em;
}

.searchFormContainer {
    margin-bottom: 0.5em;
}

.reportContainer {
}

.reportLink {
    color: #333;
}

.reportLink :HOVER {
    color: #333;
}

.reportLink:HOVER .reportTitle {
    color: #337ab7;
}

.reportIcon {
    font-size: 55px;
}

.reportTextContainer {
    padding-top: 1em;
}
